{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>

<body>
    <h1 style="text-align: center">Home page</h1>
    <div class="image-containers" style="display: flex; justify-content: center">
        <img src="../static/download (1).jpeg" alt="" />
        <img src="../static/download (2).jpeg" alt="" />
        <img src="../static/download (3).jpeg" alt="" /><img src="../static/download.jpeg" alt="" />
    </div>
    <div class="image-containers" style="display: flex;justify-content: center;"><img src="{% static 'images.jpeg' %}" alt=""><img src="" alt=""><img src="" alt=""></div>
</body>

</html>