{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<h1>{{user}}'s Profile:</h1>
<li class="nav-item"><a class="nav-link btn btn-primary" href="{% url 'changePassword' %}">Change Password</a></li>
<li class="nav-item"><a class="nav-link btn btn-primary" href="{% url 'changePasswordWithoutOldPassword' %}">Change Password Without Old Password</a></li>
<li class="nav-item"><a class="nav-link btn btn-primary" href="{% url 'editData' %}">Edit User Data</a></li>
<form action="" method="post" style="width: 50%;margin: auto;">
    <!-- {{form|crispy}} -->
     {% csrf_token %}
     {% if form.non_field_errors %}
      {% for er in form.non_field_errors %}
        <p class="bg-danger text-white p-3">{{er}}</p>
      {% endfor %}
      {% endif %}
     {% for fm in form %}
      {{fm.label_tag}}
      {{fm}}
      {{ fm.errors|striptags }}
     {% endfor %}
     <br>
</form>
{% endblock %}