<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project2</title>
</head>

<body>
    <h1>Welcome to global</h1>
    <h2>If you want to check global just copy paste 127.0.0.1:8000</h2>
    <h2>If you want to check app just copy paste 127.0.0.1:8000/app</h2>
    <!-- value -->
    <h2>{{name}}</h2>
    <h3>{{fullName}}</h3>
    <h3>{{address}}</h3>

    <!-- conditional statement -->

    {% if age >= 20 %}
    <h3>Your get driving license </h3>
    {% else %}
    <h3>You do not get driving license</h3>
    {% endif %}

    <!-- DTL Filtering -->
    {{list}}
    <!--list filtering-->
    <!-- Join function it concates a list of string. This is a case sensitive function  -->
    <h3>{{list|join:" "}}</h3>
    <!-- datetime filtering -->
    <h3>{{time| date:"D d M Y"}}</h3>
    <h3>{{empty|default:"an empty string"}}</h3>
    <h3>{{"Pythona isa funa."|cut:"a" }}</h3>
    <h3>{{"value"|length}}</h3>
    <h3>{{truncate|truncatechars:4}}</h3>
    <h3>{{truncate|truncatewords:4}}</h3>
</body>

</html>